---
- name: Remove legacy key
  ansible.builtin.apt_key:
    id: CFFB779AADC995E4F350A060505D97A41C61B9CD
    state: absent
  tags:
    - haproxy

- name: Remove legacy repo
  ansible.builtin.apt_repository:
    repo: "deb http://ppa.launchpad.net/vbernat/haproxy-{{ haproxy_version }}/ubuntu {{ ansible_distribution_release }} main"
    filename: haproxy
    update_cache: false
    state: absent
  tags:
    - haproxy

- name: Download repo key
  register: haproxy_key_download
  ansible.builtin.get_url:
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xCFFB779AADC995E4F350A060505D97A41C61B9CD
    dest: "{{ haproxy_keyring }}.asc"
    mode: u=rw,g=r,o=r
    force: true
  tags:
    - haproxy

- name: Check repo key
  register: haproxy_key_status
  ansible.builtin.stat:
    path: "{{ haproxy_keyring }}"
  tags:
    - haproxy

- name: Dearmor repo key
  when:
    - haproxy_key_download.changed or not haproxy_key_status.stat.exists
  register: haproxy_key_convert
  changed_when: haproxy_key_convert.rc == 0
  ansible.builtin.command:
    cmd: "gpg --dearmor -o {{ haproxy_keyring }} {{ haproxy_keyring }}.asc"
  tags:
    - haproxy

- name: Add apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ haproxy_keyring }}] https://ppa.launchpadcontent.net/vbernat/haproxy-{{ haproxy_version }}/ubuntu {{ ansible_distribution_release }} main"
    filename: haproxy
    update_cache: true
    state: present
  tags:
    - haproxy

- name: Install required packages
  loop:
    - haproxy
    - python3-cryptography
    - python3-openssl
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - haproxy

- name: Create required directories
  loop:
    - /etc/haproxy/ssl
    - /etc/haproxy/acls
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  tags:
    - haproxy

- name: Write ocsp script
  notify:
    - Reload haproxy
  ansible.builtin.template:
    src: ocsp.j2
    dest: /usr/sbin/haproxy-ocsp
    owner: root
    group: root
    mode: u=rwx,g=r,o=r
  tags:
    - haproxy

- name: Copy error pages
  notify:
    - Reload haproxy
  ansible.builtin.copy:
    src: "{{ haproxy_error_pages }}"
    dest: /etc/haproxy
    owner: root
    group: root
    mode: u=rwX,g=rX,o=rX
  tags:
    - haproxy

- name: Create challenge dir
  ansible.builtin.file:
    path: /var/www/html/.well-known/acme-challenge
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  tags:
    - haproxy

- name: Private dummy key
  when:
    - not ansible_check_mode
  community.crypto.openssl_privatekey:
    path: /etc/haproxy/selfsigned.key
    size: 4096
  tags:
    - haproxy

- name: Sign dummy request
  when:
    - not ansible_check_mode
  community.crypto.openssl_csr:
    path: /etc/haproxy/selfsigned.csr
    privatekey_path: /etc/haproxy/selfsigned.key
    common_name: "{{ ansible_hostname }}"
    country_name: "{{ haproxy_selfsigned_country }}"
    state_or_province_name: "{{ haproxy_selfsigned_state }}"
    locality_name: "{{ haproxy_selfsigned_locality }}"
    organization_name: "{{ haproxy_selfsigned_org }}"
    organizational_unit_name: "{{ haproxy_selfsigned_unit }}"
    email_address: "{{ haproxy_selfsigned_email }}"
  tags:
    - haproxy

- name: Generate dummy cert
  when:
    - not ansible_check_mode
  community.crypto.x509_certificate:
    csr_path: /etc/haproxy/selfsigned.csr
    privatekey_path: /etc/haproxy/selfsigned.key
    path: /etc/haproxy/selfsigned.crt
    provider: selfsigned
  tags:
    - haproxy

- name: Chain dummy cert
  when:
    - not ansible_check_mode
  changed_when: false
  ansible.builtin.shell: "cat selfsigned.crt selfsigned.key > ssl/000-selfsigned.pem"
  args:
    chdir: /etc/haproxy
  tags:
    - haproxy

- name: Drop legacy cert
  ansible.builtin.file:
    path: /etc/haproxy/ssl/selfsigned.pem
    state: absent
  tags:
    - haproxy

- name: Check dhparam file
  register: haproxy_dhparam_file
  check_mode: false
  ansible.builtin.stat:
    path: /etc/haproxy/dhparam.pem
  tags:
    - haproxy

- name: Generate dhparam file
  notify:
    - Reload haproxy
  when:
    - not haproxy_dhparam_file.stat.exists or (ansible_date_time.epoch | int - haproxy_dhparam_file.stat.mtime) > (30 * 60 * 60 * 24)
  changed_when: false
  ansible.builtin.command:
    cmd: openssl dhparam -out /etc/haproxy/dhparam.pem 2048
  tags:
    - haproxy

- name: Create acl definitions
  notify:
    - Reload haproxy
  loop: "{{ haproxy_acls }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - true if item.state is not defined else item.state == 'present'
    - not haproxy_skip_configuration
  ansible.builtin.template:
    src: acls.j2
    dest: "/etc/haproxy/acls/{{ item.name }}.lst"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - haproxy

- name: Remove acl definitions
  notify:
    - Reload haproxy
  loop: "{{ haproxy_acls }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - false if item.state is not defined else item.state == 'absent'
    - not haproxy_skip_configuration
  ansible.builtin.file:
    path: "/etc/haproxy/acls/{{ item.name }}.lst"
    state: absent
  tags:
    - haproxy

- name: Write server config
  notify:
    - Reload haproxy
  when:
    - not haproxy_skip_configuration
  ansible.builtin.template:
    src: config.j2
    dest: /etc/haproxy/haproxy.cfg
    validate: haproxy -c -f %s
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - haproxy

- name: Create service directory
  ansible.builtin.file:
    path: /etc/systemd/system/haproxy.service.d
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  tags:
    - haproxy

- name: Write service override
  notify:
    - Reload haproxy
  ansible.builtin.template:
    src: override.j2
    dest: /etc/systemd/system/haproxy.service.d/override.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - haproxy

- name: Start haproxy service
  ansible.builtin.systemd:
    name: haproxy
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - haproxy

...
