---
- name: Reload haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded
    daemon_reload: true

- name: Restart haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: restarted
    daemon_reload: true

...
